In [5]:
from util.data_set import read_training_ds
import pandas as pd


df = read_training_ds(ds_name="7b8eb1af5d57de5bdbfd850bb84fd8d05fa4d14aa89d1803c24c903b3f293de0")

In [6]:
df

                      date         OT
0      2016-07-01 00:00:00   0.000000
1      2016-07-01 00:15:00   3.270156
2      2016-07-01 00:30:00   6.526310
3      2016-07-01 00:45:00   9.754516
4      2016-07-01 01:00:00  12.940952
...                    ...        ...
69675  2018-06-26 18:45:00 -49.039264
69676  2018-06-26 19:00:00 -48.296291
69677  2018-06-26 19:15:00 -47.346506
69678  2018-06-26 19:30:00 -46.193977
69679  2018-06-26 19:45:00 -44.843637

[69680 rows x 2 columns]

In [7]:
# Assuming 'df' is your DataFrame
# Convert the 'date' column to datetime if it's not already
df['date'] = pd.to_datetime(df['date'])

# Define your start and end date as strings
start_date = "2016-07-01"
end_date = "2016-08-01"

# Use searchsorted to find the start and end indices
start_idx = df['date'].searchsorted(pd.to_datetime(start_date), side='left')
end_idx = df['date'].searchsorted(pd.to_datetime(end_date), side='right')

# Use the indices to slice the DataFrame
filtered_df = df.iloc[start_idx:end_idx]

In [26]:
filtered_df.iloc[0]["date"]

Timestamp('2016-07-01 00:00:00')

In [27]:
filtered_df[["date"]]

                    date
0    2016-07-01 00:00:00
1    2016-07-01 00:15:00
2    2016-07-01 00:30:00
3    2016-07-01 00:45:00
4    2016-07-01 01:00:00
...                  ...
2972 2016-07-31 23:00:00
2973 2016-07-31 23:15:00
2974 2016-07-31 23:30:00
2975 2016-07-31 23:45:00
2976 2016-08-01 00:00:00

[2977 rows x 1 columns]

In [28]:
filtered_df.values

array([[Timestamp('2016-07-01 00:00:00'), 0.0],
       [Timestamp('2016-07-01 00:15:00'), 3.270156461507153],
       [Timestamp('2016-07-01 00:30:00'), 6.526309611002579],
       ...,
       [Timestamp('2016-07-31 23:30:00'), -6.526309611003521],
       [Timestamp('2016-07-31 23:45:00'), -3.2701564615087024],
       [Timestamp('2016-08-01 00:00:00'), -7.349118756157297e-13]],
      dtype=object)