In [2]:
from util.data_set import read_training_ds

df = read_training_ds(ds_name="7b8eb1af5d57de5bdbfd850bb84fd8d05fa4d14aa89d1803c24c903b3f293de0")

In [3]:
df

                      date         OT
0      2016-07-01 00:00:00   0.000000
1      2016-07-01 00:15:00   3.270156
2      2016-07-01 00:30:00   6.526310
3      2016-07-01 00:45:00   9.754516
4      2016-07-01 01:00:00  12.940952
...                    ...        ...
69675  2018-06-26 18:45:00 -49.039264
69676  2018-06-26 19:00:00 -48.296291
69677  2018-06-26 19:15:00 -47.346506
69678  2018-06-26 19:30:00 -46.193977
69679  2018-06-26 19:45:00 -44.843637

[69680 rows x 2 columns]